*,
html,
body {
  padding: 0;
  margin: 0;
}

.app {
  height: 100%;
  background: #033b54;
}

.container {
  max-width: 376px;
  margin: 0 auto;
}

.app__logo {
  width: 100%;
  height: 50px;
  background: white;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apple {
  display: flex;
  align-items: end;
  gap: 20px;
}

.logo {
  width: 110px;
  height: 30px;
  background: #f7b731;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.app__logo h1 {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  padding: 0 5px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app__product {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app__data img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.app__mbank {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

button{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
}